snippet htmldjango
	{# vim: set ft=htmldjango.html: #}

snippet !!!5
	<!DOCTYPE HTML>
	<html>
		<head>
		</head>
		<body>
		</body>
	</html>

snippet css
	<link rel="stylesheet" type="text/css" href="${1:file.css}" />

snippet js
	<script type="text/javascript" src="${1:file.js}" />
