# Plain doc string
snippet doc
	"""
	${1:.. todo:: Add documentation}
	"""

# Set the source file's coding
snippet coding
	# coding=${1:utf-8}

# Create a logger instance
snippet logger
	import logging
	_log = logging.getLogger(__name__)
