snippet coding
	# coding=${1:utf-8}
snippet def
	def ${1:function_name_and_args}
		${2:function_body}
	end
snippet module
	module ${1:module_name}
		${2:module_body}
	end
snippet class
	class ${1:class_name}
		${2:class_body}
	end
snippet do
	do ${1:args}
		${2:block_body}
	end
snippet it
	it '${1:description}' do
		${2:spec}
	end
