snippet coding
# coding=${1:utf-8}
endsnippet

snippet def
def ${1:function_name_and_args}
	${2:function_body}
end
$0
endsnippet

snippet module
module ${1:module_name}
	${2:module_body}
end
$0
endsnippet

snippet class
class ${1:class_name}
	${2:class_body}
end
$0
endsnippet

snippet do
do ${1:args}
	${2:block_body}
end
$0
endsnippet

snippet it
it '${1:description}' do
	${2:spec}
end
$0
endsnippet
