global !p
import snippets.go as go
endglobal

snippet tf "test function" t
func Test${1:Name}(t *testing.T) {
	${2:body}
}
endsnippet

snippet tt "tests table" t
tests := []struct{
	name string
	${1:fields}
}{
	${2:}
}
endsnippet

snippet fortt "iterate over tests" t
for _, tt := range ${1:tests} {
	tt := tt
	t.Run(${2:tt.name}, func(t *testing.T) {
		${3}
	})
}
endsnippet

snippet pkg "add a package line" b
`!p go.pkg_decl(snip, path)`

${0}
endsnippet
