snippet cb "Codeblock" b
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet cbl "Codeblock with language" b
\`\`\`${1:language}
$2
\`\`\`
$0
endsnippet

snippet ln "Markdown link"
[${1:link_text}](${2:link})$0
endsnippet

snippet todo "Create a todo item"
* [ ] ${1:todo_text}$0
endsnippet
