import javax.servlet.http.{HttpServlet, HttpServletRequest, HttpServletResponse}

class ${1:`Snippet_JavaClassNameFromFilename()`} extends HttpServlet {
	override def doGet(req: HttpServletRequest, res: HttpServletResponse) {
		${2}
	}
}
