*~
*.swp
*.pyc
*.old
*.bak
*.log

.netrwhist
spell
tags

# Ignore all vim plugins as they are managed by vim-plug.
vim/bundle/
vim/autoload/gocomplete.vim
vim/ftplugin/go/
vim/local.vim
vim/.localvimrc_persistent

# Ignore tmux plugins as they are managed by tpm
tmux/plugins

# Ignore quicklisp.lisp as it is downloaded
sbcl/quicklisp.lisp

# Ingore external zsh plugins
zsh/custom/plugins/zsh-nvm/
zsh/custom/plugins/zsh-autosuggestions
zsh/custom/themes/

.cache/
.venv/
.vagrant/
