import org.scalatest.{FunSuite, BeforeAndAfterEach}
import org.scalatest.matchers.MustMatchers._

class ${1:`Snippet_JavaClassNameFromFilename()`} extends FunSuite
with BeforeAndAfterEach {

	override def beforeEach() {
		${2}
	}

	override def afterEach() {
		${3}
	}

	test("${4}") {
		${5}
	}
}
