import scala.collection.JavaConversions._

import org.junit._
import org.scalatest._
import org.scalatest.matchers.MustMatchers

import play.test._

class ${1:TestName} extends UnitTest
with FunSuite with MustMatchers with BeforeAndAfterAll {
	test("${2:what}") {
		${3:// TODO implement me
	}
}
